.banner_wrapper{
    height: 100%;
    /* background: linear-gradient(to right , rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.096)), url('../assets/photo-1542810634-71277d95dcbb.avif'); */
    background-position: center;
    background-size: cover;
    /* padding-top: 100px; */
    padding-bottom: 50px;
    min-height: 90vh;
    position: relative;
}
.banner_wrapper img {
    width: 100%;
    height: 100%;
  object-fit: cover;
  object-position: center;
  position: fixed;
  top: 0;
  left: 0;
}
.after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
background-color: rgba(0, 0, 0, 0.404);
}
.banner_content{
    padding-left: 30px;
    z-index: 9999;
}
.banner_wrapper h1{
    position: relative;
    z-index: 9999;
    color: white;
    font-size: 80px;
    font-family: nunito;
    font-weight: 800;
    line-height: 100px;
    margin-bottom: 10px;
  padding-top: 100px;
opacity: 1;
  animation: up 0.8s 1 linear ;
}
@keyframes up {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }50%{
        transform: translateY(20%);
        opacity: 0.5;
    }100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.swiper-slide-active .banner_wrapper h1{
   visibility: visible;
}

.banner_wrapper h6{
    color: rgb(93, 210, 91);
    font-family:  nunito;
    
    font-weight: 800;
    font-size: 20px;
    position: relative;
    z-index: 9999;
 
    animation: up2 0.9s 1 linear ;
}
@keyframes up2 {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }50%{
        transform: translateY(20%);
        opacity: 0.5;
    }100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.swiper-slide-active .banner_wrapper h6{
   visibility: visible;
}
.discover_btn{
    border:2px solid white;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 30px;
    width: fit-content;
    font-family: nunito;
  backdrop-filter: blur(20px);
  margin-top: 50px;
  position: relative;
  transform: 0.3s all ease-in-out;
  cursor: pointer;
}

.discover_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 230, 33);
    border: none;
    transition: 0.3s all ease-in-out;
    transform: scaleX(0);
    border-radius: 30px;
    z-index: 8;
}
.discover_btn:hover{
    overflow: hidden;
    
}
.discover_btn:hover .discover_overlay{
    transform: scaleX(1);
}
.discover_btn p{
    z-index: 999;
    position: relative;
}
.homeabout_wrapper{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
    width: 100%;
    max-width: 94%;
    min-width: 94%;
    margin-inline: auto;
}
.home_about_left{
    width: 100%;
    max-width: 45%;
    min-width: 45%;
}
.about_head{
    font-family: nunito;
    font-size: 45px;
    font-weight: 800;
    margin-top: 10px;
}
.about_head span{
    font-family: nunito;

    font-weight: 800;
    color: rgb(36, 230, 33);
}
.home_about_left h5{
    font-family: nunito;
    font-size: 16px;
    font-weight: 400;
    color: rgb(131, 131, 131);
    margin-top: 8px;
    line-height: 28px;
    text-transform: capitalize;
}
.home_about_left p{
  font-family: cursive;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}
.home_about_right{
    width: 100%;
    max-width: 48%;
    min-width: 48%;
    display: flex;
    justify-content: center;
}
.quote_wrapper{
    padding: 30px 30px;
    border-left: 5px solid rgb(36, 230, 33);
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.quote_wrapper h2{
    font-family: nunito;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
}
.list_wrapper{
    margin-top: 20px;

}
.list_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}
.list_1 i{
    font-size: 20px;
    color: rgb(75, 155, 73);
}
.list_1 h5{
    font-family: nunito;
    font-size: 15px;
    font-weight: 800;
    color: rgb(75, 155, 73);
    line-height: 24px;

}
.img_1{
    width: 100%;
    max-width:50%;
    min-width:50%;
    position: absolute;
    height: 220px;
    object-fit: cover;
    top: 100px;
    left: 0;
    border-radius: 10px;
}
.img_2{
    width: 100%;
    max-width: 42%;
    min-width: 42%;
    position: absolute;
    height: 200px;
    object-fit: cover;
    bottom: -80px;
    left:50px;
    border-radius: 10px;
}
.img_3{
    width: 100%;
    max-width: 45%;
    min-width: 45%;
    position: absolute;
    height: 350px;
    object-fit: cover;
    bottom: -80px;
    right: 0px;
    border-radius: 10px;
}
.img_4{
    width: 100%;
    max-width: 42%;
    min-width: 42%;
    position: absolute;
    height: 200px;
    object-fit: cover;
    top: 100px;
    right:30px;
    border-radius: 10px;
}
.home_project_wrapper{
    background-color: rgb(247, 245, 242);
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}
.projects_card_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px 0px ;
    width: 100%;
    max-width: 92%;
    min-width: 92%;
    margin-inline: auto;
    overflow: hidden;
}
.project_1{
    height: 60vh;   
    background-color: white;
  
    overflow:hidden;
    padding: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}
.project_1 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.project_details_div{
    /* width: 90%;
    position: absolute;
    bottom: 40px;
    padding: 30px 15px;
    background-color: rgb(52, 131, 221);
    border-radius: 0px 15px 15px 0px;
    left: 15px; */

    width: 90%;
    position: absolute;
    bottom: 40px;
    padding: 30px 15px;
    backdrop-filter: blur(27px);
    background-color: rgb(52 131 221 / 16%);
    border-radius: 0px 15px 15px 0px;
    left: 15px;
    transition: all 0.3s ease-in-out;
    transform: scaleX(1);
}
.project_details_div2{
    /* width: 90%;
    position: absolute;
    bottom: 40px;
    padding: 30px 15px;
    background-color: rgb(52, 131, 221);
    border-radius: 0px 15px 15px 0px;
    left: 15px; */

    width: 90%;
    position: absolute;
    bottom: 40px;
    padding: 30px 15px;
    backdrop-filter: blur(27px);
    background-color: rgb(52 131 221 / 16%);
    border-radius: 0px 15px 15px 0px;
    left: 15px;
    transition: all 0.5s ease-in-out;
    transform: scaleX(0);
}
.project_1:hover .project_details_div{
    transform: scaleX(0);
}
.project_1:hover .project_details_div2{
    transform: scaleX(1);
}
.project_1:hover img{
    filter: brightness(120%);
    transform: rotate(-5deg) scale(1.3);
    transition: 0.5s all ease-in-out;
}
.project_details_div h6{
    font-family: nunito;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(36, 230, 33);
    width: fit-content;
    padding: 3px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    column-gap: 12px;
    justify-content: flex-start;
    align-items: center;
}
.project_details_div p{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: nunito;
}
.project_details_div2 h6{
    font-family: nunito;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(36, 230, 33);
    width: fit-content;
    padding: 3px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    column-gap: 12px;
    justify-content: flex-start;
    align-items: center;
}
.project_details_div2 p{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: nunito;
}
.heading_para{
    font-family: "Caveat", cursive;;
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  color: rgb(66, 159, 64);
}
.testimonial_wrapper{
    padding-top: 70px;
    padding-bottom: 50px;
}
.testimonial_cards_wrapper{
    /* padding: 0px 70px; */
    width: 100%;
    max-width: 90%;
    min-width: 90%;
    margin-inline: auto;
    margin-top: 40px;
}
.testimonial_cards_wrapper .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: 1;
    color:  rgb(36, 231, 33);
    -webkit-font-smoothing: antialiased;
}
.testimonial_cards_wrapper .slick-next:before{
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: 1;
    color:  rgb(36, 231, 33);
    -webkit-font-smoothing: antialiased;
}

.slick-center .testimonial_card1 {
    border: 3px solid rgb(36, 231, 33);
    box-shadow: 0px 0px 10px rgba(66, 159, 64, 0.5);
    opacity: 1;
    box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.1);
    scale: 1.1;
}
.testimonial_card1{
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    border-radius: 20px;
    padding: 30px 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    margin: 40px 0px;
    opacity: 0.8;
    scale: 0.9;
}

.client_img{
    width:80px;
    height:80px;
    margin-inline: auto;
    border-radius: 50%;
    margin-inline: auto;
}
.client_img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}
 .client_name{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: 8px;
}
.client_occuptaion{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: -2px;
}
.client_review{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: -2px;
    margin-top: 10px;
}
.rating_div_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-size: 20px;
    color: rgb(250, 214, 57);
    margin-top: 20px;
}
.image_gallery_Wrapper{
    padding-top: 40px;
    padding-bottom: 120px;
  overflow: hidden;
}
.image_gallery_Wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 45%;
    height: 100%;
}
.image_gallery_Wrapper h3{
    font-family: Poppins;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
   display: none;
   animation: transform 0.5s linear  1  ;

}
@keyframes transform {
    0%{
        transform: translateY(200%);
    }50%{
        transform: translateY(100%);
    }100%{
        transform: translateY(0);
    }
}

.image_gallery_Wrapper .swiper-slide-active {
    transform: translate3d(0px, 0px, -293.007306px) rotateX(0deg) rotateY(-1.996347deg) scale(1)  !important;
}
/* .image_gallery_Wrapper .swiper-slide-active h3{
    display: block;
} */
.image_gallery_Wrapper  .swiper-slide img {
    display: block;
    width: 100%;
    height: 80vh;
    box-shadow: 0px 23px 31px #949393;

  }
  .mySwiper{
    overflow: hidden;
  }
  .achivements_wrapper{
    height: 60vh;
    background: linear-gradient(to top ,rgba(0, 0, 0, 0.365),rgba(0, 0, 0, 0.233)),url('../assets/photo-1576381394626-53b3d2d48145.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .achivement_div1 h1{
    font-family: nunito;
    color: white;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
  }
  .achivement_div1 h2{
    text-align: center;
    font-family: nunito;
    color: white;
    font-weight: 700;
    font-size: 25px;
  }
  .brands_wrapper{
   padding: 0px 0px 50px 0px;
   overflow: hidden;
  }
  .brands_divs_wrapper{
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .brands_div{
    height: 100px;
  }
  .brands_div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
 @media(max-width:1099px){
    .homeabout_wrapper {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .home_about_left {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .home_about_right{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap:30px;
    }
    .img_1{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 47%;
        min-width: 47%;
        height: auto;
    }
    .img_2{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 47%;
        min-width: 47%;
        height: auto;
    }
    .img_3{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 47%;
        min-width: 47%;
        height: auto;
    }
    .img_4{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 47%;
        min-width: 47%;
        height: auto;
    }
    .achivements_wrapper{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:30px;
        height: auto;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 20px 0px;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
    }
 }
 @media(max-width:999px){
    .projects_card_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 50px 0px ;
        width: 100%;
        max-width: 92%;
        min-width: 92%;
        margin-inline: auto;
    }
   .image_gallery_Wrapper .swiper-slide img {
        
        box-shadow: none;
    }
 }
 @media(max-width:943px){
    .footer-widget-heading h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
        margin-top: 20px;
    }
 }
 @media(max-width:768px){
    .single-cta {
        margin-top: 20px;
    }
   
 }
 @media(max-width:699px){
    
    .image_gallery_Wrapper{
        padding-bottom: 50px;
    }
    .projects_card_wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        padding: 50px 0px ;
        width: 100%;
        max-width: 92%;
        min-width: 92%;
        margin-inline: auto;
    }
    .testimonial_card1{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        opacity: 1;
    }
    .banner_wrapper h1{
        font-size: 60px;
        text-align: center;
        line-height: normal;
    }
    .banner_wrapper h6{
        font-size: 20px;
        text-align: center;
        line-height: normal;
    }
    .discover_btn_wrapper{
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    }
 }
 @media(max-width:600px){

    .img_1{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 350px;

    }
    .img_2{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 350px;
    }
    .img_3{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 350px;
    }
    .img_4{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 350px;
    }
    .testimonial_cards_wrapper .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 50px;
        line-height: 1;
        opacity: 1;
        color:  rgb(36, 231, 33);
        -webkit-font-smoothing: antialiased;
        display: none;
    }
    .testimonial_cards_wrapper .slick-next:before{
        font-family: 'slick';
        font-size: 50px;
        line-height: 1;
        opacity: 1;
        color:  rgb(36, 231, 33);
        -webkit-font-smoothing: antialiased;
        display: none;
    }
 }
 @media(max-width:499px){
    .banner_wrapper h1{
        font-size: 50px;
        text-align: center;
        line-height: normal;
    }
    .banner_wrapper h6{
        font-size: 15px;
        text-align: center;
        line-height: normal;
    }
    .discover_btn{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .discover_btn_wrapper{
        flex-direction: column;
        row-gap: 0px;
        align-items: center;
        justify-content: center;
    }
    .achivement_div1 h2 {
        text-align: center;
        font-family: nunito;
        color: white;
        font-weight: 700;
        font-size: 16px;
      }
      .achivement_div1 h1 {
        font-family: nunito;
        color: white;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
      }
      .achivements_wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: auto;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 20px 0px;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
      }
 }
 @media(max-width:420px){
    .banner_wrapper h1{
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }
    .about_head {
        font-family: nunito;
        font-size: 30px;
        font-weight: 800;
        margin-top: 10px;
    }
    .home_project_wrapper{
        overflow: hidden;
    }
    .homeabout_wrapper{
        overflow: hidden;
    }
    body{
        width: 100%;
    }
    
 }
 